<?xml version="1.0" encoding="UTF-8"?>
<ServerSetings>
	<!-- Key Settings -->
	<add key="License.XMLKey.Private" value="<RSAKeyValue><Modulus>nlB+u0zjMyGpkmcRhEEF34K2k8VHmcRu2CTwonBDu15kYbckb0PsBWJp7uiqm/YdWCHLWN/fz4oq/PzZ++FVoQeNgykqdOv5X9pwGHCuwexleFCxKknKGB+ZJbh/iG5AvglQTDTXEafNshauOV7Ucqilf9Qeg2lgz5FjL9e3z9M=</Modulus><Exponent>EQ==</Exponent><P>w7kFidCE71jQcxd2DQs9p1RfbADHEG5xXcuOmSJRxrBzKRFfhYuf7j0pV7gfp6KVNZzU3jWB7aymQYXjkHedIQ==</P><Q>zxIqLKC5iEU+sXk+c0CZ/R+wdwETQRBFdkXDeXi0X/t1yxjqy1slLoXlNnttWL/IDGx/OLBgRzQqmqF310r6cw==</Q><DP>fqTld0qwXqLhO2mInwdGAtw9vlrbKL/vAHSnkENiFybhGpLFVmlnfAl1GqRQt8ONuUdcj8hFAzN6ot4p1fMLUQ==</DP><DQ>POc5lKe+GQVOrKswfEAtSnK7bkucQFAUbhSEyV+8lLNe4WGueAu/pEV/ppzFzs7+mj4HTOiUyaXuabcFITQriw==</DQ><InverseQ>OU6KXNTnrpZSot2o/+NyLpqLMEsOhHxUtTMHd9pim8h7kf4yDZDE7URS6FKHQIKDw2kDqUoizOfE0/MZfAN0xQ==</InverseQ><D>eRBg6ZUmNijM93v+VhObFFTl+IfNV3gYhytOmlXZcSoQhvV2Nve0fJaNPjlzaDStByjmy34FgJbVlEji7cpupx0NEqMGGpU2xT/I8hIthfrHqjXCTDZXwt9n3hVygb5EovIOAXISHGpTbf70ZbGiiNX+9EVnilVS0dXidUaOWDE=</D></RSAKeyValue>" />
	<add key="License.XMLKey.Public" value="<RSAKeyValue><Modulus>nlB+u0zjMyGpkmcRhEEF34K2k8VHmcRu2CTwonBDu15kYbckb0PsBWJp7uiqm/YdWCHLWN/fz4oq/PzZ++FVoQeNgykqdOv5X9pwGHCuwexleFCxKknKGB+ZJbh/iG5AvglQTDTXEafNshauOV7Ucqilf9Qeg2lgz5FjL9e3z9M=</Modulus><Exponent>EQ==</Exponent></RSAKeyValue>" />
</ServerSetings>
