<?xml version="1.0" encoding="UTF-8"?>
<ServerSetings>
	<add key="Test.Variable" value="Hallo, Welt!" />
	<add key="Test.Integer" value="42" />


	<!-- Network Settings -->
	<add key="Network.IP" value="127.0.0.1" />
	<add key="Network.Host" value="Max-Laptop.fritz.box" />
	<add key="Network.Port" value="25001" />
	<add key="Network.MaxPlayer" value="32" />
	<add key="Network.Password" value="testPasswort" />
	<add key="Network.Pause" value="250" />
	
	<!-- Master Server -->
	<add key="Network.MasterServer.GameName" value="dummy" />
	<add key="Network.MasterServer.GameType" value="dummy2" />
	<add key="Network.MasterServer.URL" value="http://ddns.edns.de/ip.php" />

	<!-- Database Settings -->
	<add key="Database.IP" value="127.0.0.1" />
	<add key="Database.Name" value="test" />
	<add key="Database.User" value="root" />
	<add key="Database.Password" value="" />

	<!-- Password Settings -->
	<add key="Password.SaltByteSize" value="24" />
	<add key="Password.HashByteSize" value="24" />
	<add key="Password.PBKDF2.Iterations" value="1000" />
	<add key="Password.IterationIndex" value="0" />
	<add key="Password.SaltIndex" value="1" />
	<add key="Password.PBKDF2.Index" value="2" />
</ServerSetings>