<?xml version="1.0" encoding="UTF-8"?>
<ServerSetings>
	<!-- Network Settings -->
	<!--
		Basic settings related to Networking. This is mainly for the client side.
		Network.IP: 		IP address of default server. Alternative for hostname.
		Network.Host: 		Default Hostname
		Network.Port: 		Port of server
		Network.MaxPlayer: 	Max Allowed player on server
		Network.Password: 	Server password
		Network.Pause: 		Pause before restart or shutdown of server
	-->
	<add key="Network.IP" value="127.0.0.1" />
	<!-- <add key="Network.Host" value="" /> -->
	<add key="Network.Port" value="25001" />
	<add key="Network.MaxPlayer" value="32" />
	<add key="Network.Password" value="PurplePassword" />
	<add key="Network.Pause" value="250" />

	<!-- Server -->
	<!--
		Basic Server Settings used for Server Startup
		Network.Server.Name:			Name of Server Instance. This should be unique, but does not have to
		Network.Server.Type:			Current Servertype: Account, Lobby, Game, Multi, Monitoring
										// Account: Pure account data, handles login and sends the player to a lobby server
										// Lobby: List with games, Account Managements
										// Game: The actual Game server that runs the game instance
										// Multi: All above
										// Monitoring: A Monitoring Server that checks all of the above
		Network.Server.Host:			Hostname of the server
		Network.Server.Port:			Port used for incoming connections
		Network.Server.Password:		Password the client has to provide
		Network.Server.AllowMonitoring:	Allow monitoring. If yes, one client less can connect to the server to keep a slot 
										free for the Monitoring
		Network.Server.Sanity.Test		Enable a sanity test on server launch
		Network.Server.Sanity.Action	Action to do on error
										// Shutdown
										// Restart
										// Warn
		Network.Server.Sanity.Periodical Periodical check in minutes. 0 = no periodical check. Min: 10 Minutes
		Network.Server.Spam.Prevention:	Prevent Spam by blocking suspicious calls
		Network.Server.Spam.Response:	If yes a response is send to the client that he now is in spam queue
		Network.Server.Spam.MaxRequests:Max requests per minute
		Network.Server.Clients.Max:		Maximum number of clients that can connect to the server
		Network.Server.Clients.AuthentificationTimeout: Authentification timeout in seconds!
		Network.Server.ActionDelay:		Delay for the server to execute a request.
		Network.Server.IPScript:		Link to a script the Server can parse his IP from. This is used as a fallback
		Network.Message.Placeholder:	Server message placeholder
	-->
	<add key="Network.Server.Name" value="PurpleServer" />
	<add key="Network.Server.Type" value="Multi" />
	<add key="Network.Server.Host" value="localhost" />
	<add key="Network.Server.Port" value="25001" />
	<add key="Network.Server.Password" value="PurplePassword" />
	<add key="Network.Server.AllowMonitoring" value="true" />
	<add key="Network.Server.Sanity.Test" value="true" />
	<add key="Network.Server.Sanity.Action" value="Shutdown" />
	<add key="Network.Server.Sanity.Periodical" value="0" />
	<add key="Network.Server.Spam.Prevention" value="true" />
	<add key="Network.Server.Spam.Response" value="false" />
	<add key="Network.Server.Spam.MaxRequests" value="20" />
	<add key="Network.Server.Clients.Max" value="32" />
	<add key="Network.Server.Clients.AuthentificationTimeout" value="20" />
	<add key="Network.Server.ActionDelay" value="10" />
	<add key="Network.Server.IPScript" value="http://ddns.edns.de/ip.php" />
	<add key="Network.Message.Placeholder" value="!!time!!" />

	<!-- Culture Settings -->
	<!--
		Currently used Culture
	-->
	<add key="Globalization.Culture" value="de-DE" />

	<!-- Storage Settings -->
	<!--
		Settings related to the storage method.
		This storage is used to save further settings.
		Storage.ForcePlayerPrefs:		Either "Player Prefs" are used to store data (which is limited in order of 
										size and availability) or store as file.
		Storage.File.Extension:			File Extension used to store data
		Storage.File.AlternativePath:	Alternative path to store data
		Storage.File.MetaName:			Name of the meta data object
	-->
	<add key="Storage.ForcePlayerPrefs" value="false" />
	<add key="Storage.File.Extension" value="data" />
	<add key="Storage.File.AlternativePath" value="" />
	<add key="Storage.File.MetaName" value="purple_meta_object" />

	<!-- Console Log Settings -->
	<!--
		Console Log settings for the in-app console. This usually only should be available on the Server.
		ConsoleLog.Enabled:			Enable or Disable the console log
		ConsoleLog.History:			Entries within the Console Log
		ConsoleLog.Color.Log:		Color within the Log used for Log messages
		ConsoleLog.Color.Error: 	Color within the Log used for Error messages
		ConsoleLog.Color.Warning:	Color within the Log used for Warning messages
		ConsoleLog.Color.User:		Color within the Log used for User messages
	-->
	<add key="ConsoleLog.Enabled" value="true" />
	<add key="ConsoleLog.History" value="50" />
	<add key="ConsoleLog.Color.Log" value="#FFFFFF" />
	<add key="ConsoleLog.Color.Error" value="#FF6633" />
	<add key="ConsoleLog.Color.Warning" value="#FFCC33" />
	<add key="ConsoleLog.Color.User" value="#39E600" />

	<!-- Database Settings -->
	<!--
		Server Settings for the used database
		Database.IP:			IP address of the database
		Database.Name:			Name of the used Database
		Database.User:			User to login
		Database.Password:		Password
		Database.Port:			Port on database side to connect to
		Database.Prefix:		Table Prefix
	-->
	<add key="Database.IP" value="127.0.0.1" />
	<add key="Database.Name" value="PurpleDatabase" />
	<add key="Database.User" value="root" />
	<add key="Database.Password" value="password" />
	<add key="Database.Port" value="3306" />
	<add key="Database.Prefix" value="" />

	<!-- License Settings -->
	<!--
		Licence related settings. This should be consistent between Server and Clients
		License.KeySize:		Key size in byte
		License.CryptoConfig:	Used Alogithm - All available used in c# CryptoConfig Class
	-->
	<add key="License.KeySize" value="1024" />
	<add key="License.CryptoConfig" value="SHA256" />

	<!-- Password Settings -->
	<!--
		Password Settings - This should only be changed if you are familiar with password security
		Password.SaltByteSize:		Size of the used Salt in byte
		Password.HashByteSize:		Size of the Hash in byte
		Password.PBKDF2.Iterations:	Number of iterations we use. Increasing this can cause performance issues
		Password.IterationIndex:	Iteration index
		Password.SaltIndex:			Salt index
		Password.PBKDF2.Index:		PBKDF2 index
	-->
	<add key="Password.SaltByteSize" value="24" />
	<add key="Password.HashByteSize" value="24" />
	<add key="Password.PBKDF2.Iterations" value="1000" />
	<add key="Password.IterationIndex" value="0" />
	<add key="Password.SaltIndex" value="1" />
	<add key="Password.PBKDF2.Index" value="2" />

	<!-- E-Mail Settings -->
	<!--
		E-Mail Settings in order to send Mails from the application
		Mail.Server.User:				Mailserver username
		Mail.Server.Password:			Mailserver password
		Mail.Server.Host:				Hostname
		Mail.Server.Port:				Port we should connect to
		Mail.Server.SSL:				Use SSL or not
		Mail.Sender.Address:			Address of mail sender
		Mail.Sender.Name:				Name of mail sender
		Mail.Content.FallbackLanguage: 	Mail Wrapper Fallback Language
		Mail.Content.FallbackTitle: 	Mail Wrapper Fallback Title
	-->
	<!--
	<add key="Mail.Server.User" value="" />
	<add key="Mail.Server.Password" value="" />
	<add key="Mail.Server.Host" value="" />
	<add key="Mail.Server.Port" value="" />
	<add key="Mail.Server.SSL" value="" />
	<add key="Mail.Sender.Address" value="" />
	<add key="Mail.Sender.Name" value="" />
	-->
	<add key="Mail.Content.Fallback.Language" value="de-DE" />
	<add key="Mail.Content.Fallback.Title" value="Purple Mail" />
	<add key="Mail.Template.Register" value="account_register" />
	<add key="Mail.Template.Warning" value="account_warning" />

	<!-- Account Settings -->
	<!--
		Settings regarding user Accounts. This is used on both sides.
		Account.User.Token.DaysValid:						Days the generated token is valid
		Account.User.Name.MinLength:						Minimum length of usernames
		Account.User.Name.MaxLength:						Maximum length of usernames
		Account.User.Password.MinLength:					Minimum length of user password
		Account.User.Password.MaxLength:					Maximum length of user password
		Account.User.Password.Strength.UpperCase:			Does the password has to contain a uppercase character
		Account.User.Password.Strength.LowerCase:			Does the password has to contain a lowercase character
		Account.User.Password.Strength.DecimalDigit:		Does the password has to contain a decimal digit
		Account.User.Password.Strength.SpecialCharacter:	Does the password has to contain a special character
		Account.User.Password.AllowedSpecialChars:			Allowed special characters
	-->
	<add key="Account.User.Token.DaysValid" value="14" />
	<add key="Account.User.Name.MinLength" value="6" />
	<add key="Account.User.Name.MaxLength" value="25" />
	<add key="Account.User.Password.MinLength" value="6" />
	<add key="Account.User.Password.MaxLength" value="25" />
	<add key="Account.User.Password.Strength.UpperCase" value="true" />
	<add key="Account.User.Password.Strength.LowerCase" value="true" />
	<add key="Account.User.Password.Strength.DecimalDigit" value="true"/>
	<add key="Account.User.Password.Strength.SpecialCharacter" value="true" />
	<add key="Account.User.Password.AllowedSpecialChars" value="!?@#$%^*()" />

	<!-- Version Settings -->
	<!--
		Version.Server.Major:		Major Version of Server
		Version.Server.Minor:		Minor Version of Server
		Version.Server.Build:		Build of Server
		Version.Server.Revision:	Revision of Server
		Version.Client.Major:		Major Version of Client
		Version.Client.Minor:		Minor Version of Client
		Version.Client.Build:		Build of Client
		Version.Client.Revision:	Revision of Client
	-->
	<add key="Version.Server.Major" value="0" />
	<add key="Version.Server.Minor" value="3" />
	<add key="Version.Server.Build" value="3" />
	<add key="Version.Server.Revision" value="3" />
	<add key="Version.Client.Major" value="0" />
	<add key="Version.Client.Minor" value="3" />
	<add key="Version.Client.Build" value="4" />
	<add key="Version.Client.Revision" value="2" />
</ServerSetings>