<?xml version="1.0" encoding="UTF-8"?>
<ServerSetings>
	<!-- Network Settings -->
	<add key="Network.IP" value="127.0.0.1" />
<!--
	<add key="Network.Host" value="" />
-->
	<add key="Network.Port" value="25001" />
	<add key="Network.MaxPlayer" value="32" />
	<add key="Network.Password" value="PurplePasswort" />
	<add key="Network.Pause" value="250" />

	<!-- Server -->
	<add key="Network.Server.Name" value="PurpleServer" />
	<add key="Network.Server.Type" value="Multi" />
	<add key="Network.Server.ActionDelay" value="10" />
	<add key="Network.Server.IPScript" value="http://ddns.edns.de/ip.php" />
	<add key="Network.Message.Placeholder" value="!!time!!" />

	<!-- Storage Settings -->
	<add key="Globalization.Culture" value="de-DE" />

	<!-- Storage Settings -->
	<add key="Storage.ForcePlayerPrefs" value="false" />
	<add key="Storage.File.Extension" value="data" />
	<add key="Storage.File.AlternativePath" value="" />
	<add key="Storage.File.MetaName" value="purple_meta_object" />

	<!-- Console Log Settings -->
	<add key="ConsoleLog.Enabled" value="true" />
	<add key="ConsoleLog.History" value="50" />
	<add key="ConsoleLog.Color.Log" value="#FFFFFF" />
	<add key="ConsoleLog.Color.Error" value="#FF6633" />
	<add key="ConsoleLog.Color.Warning" value="#FFCC33" />
	<add key="ConsoleLog.Color.User" value="#39E600" />

	<!-- Database Settings -->
	<add key="Database.IP" value="127.0.0.1" />
	<add key="Database.Name" value="PurpleDatabase" />
	<add key="Database.User" value="root" />
	<add key="Database.Password" value="password" />
	<add key="Database.Port" value="3306" />

	<!-- License Settings -->
	<add key="License.KeySize" value="1024" />
	<add key="License.CryptoConfig" value="SHA256" />

	<!-- Password Settings -->
	<add key="Password.SaltByteSize" value="24" />
	<add key="Password.HashByteSize" value="24" />
	<add key="Password.PBKDF2.Iterations" value="1000" />
	<add key="Password.IterationIndex" value="0" />
	<add key="Password.SaltIndex" value="1" />
	<add key="Password.PBKDF2.Index" value="2" />

	<!-- E-Mail Settings -->
<!--
	<add key="Mail.Server.User" value="" />
	<add key="Mail.Server.Password" value="" />
	<add key="Mail.Server.Host" value="" />
	<add key="Mail.Server.Port" value="" />
	<add key="Mail.Server.SSL" value="" />
	<add key="Mail.Sender.Address" value="" />
	<add key="Mail.Sender.Name" value="" />
-->
</ServerSetings>